<!-- book.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>Book</title>
</head>
<body>
    <link rel="stylesheet" href="../CSS/style.css">
    <h1>View Book</h1>
    <table class="book-table">
        <tr>
            <th>Title</th>
            <th>Author</th>
        </tr>
    <tr>
        <td><%= book.title %></td>
        <td><%= book.author %></td>
    </tr>
    </table>
    <div class="link-center">
    <center>
    <a href="/update/<%= book.id %>">Edit</a>
    <a href="/delete/<%= book.id %>">Delete</a>
    <a href="/">Back To List</a>
    </center>
    </div>
</body>
</html>